.editor-container {
  scrollbar-width: thin; /* Makes the scrollbar thinner */
  scrollbar-color: rgb(144, 144, 229) transparent; /* Thumb (red) & Track (transparent) */
}

.editor-container a {
  color: rgb(144, 144, 229);
}

.editor-container a:hover{
  text-decoration: underline;
  color: rgb(130, 130, 227);
  cursor: pointer;
}

/* For WebKit Browsers (Chrome, Safari, Edge) */
.editor-container::-webkit-scrollbar {
  width: 4px; /* Thin scrollbar */
}

.editor-container::-webkit-scrollbar-thumb {
  background-color: rgb(144, 144, 229); /* Scrollbar thumb color */
  border-radius: 4px; /* Rounded edges */
}

.editor-container::-webkit-scrollbar-track {
  background: transparent; /* Track background */
}

.editor-note-view {
  height: 100%;
}

.editor-container code:not(pre code) {
  background: rgba(135, 131, 120, 0.15);
  color: rgb(217, 115, 13);
  padding: 0.2em 0.4em;
  border-radius: 4px;
  font-size: 0.9em;
  font-family: monospace;
}

